
header{


}
body{
	background-image: url(gitimages/git1svg.svg);
	background-size: contain; ;
	background-color: gray;
	opacity: 0.5;
	color:white;
}
a{
  text-decoration: none;
}
#icon{
	font-size: 50px;
}
#head{
	display: inline-block;
	/*background-color:hsla(120, 0%, 15% , 1);*/
	background-color: rgba(15,15,15,1);
	/*opacity: 1;*/
	margin: 0;
	padding-left:0;
	width: 1325px;
}
#right_top{
	/*background-color:hsla(120, 0%, 15% , 1) ;*/
	background-color: rgba(15,15,15,1);
	display: inline-block;
   width: 722px;
   height:45px;
}

.form-search {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  margin-left: 260px;
  margin-right: 9px;
  height: 30px;
  background-color: silver;
}
.form-search input {
  all: unset;
}
#search{

	/*padding: 5px 2px 5px 25px;
	/*background: url('http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s25/search.png') no-repeat scroll 0 50%;
	*/
}
.white{
	color: white;
   margin-top: 13px;
}
#header{
	display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color:;
}
.dropdown-child {
    display: none;
    background-color: white;
    min-width: 200px;
    height: 245px;
    border-radius: 5px;
    border: 3px solid white;

}
.dropdown-child a {
    color: black;
    padding: 1px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}


#left{
	display: inline-block;
   background-color: ;
   margin-top: 1px;
   margin-left: 180px;
   height: 5px;


}

#right{
   background-color: white;
	display: inline-block;
	height:480px;
	width: 390px;
	border-radius: 5px;
	border:3px solid white;
	margin-left: 47px;
	padding: 15px;
}
.top{
	margin-top: 1px;
	margin-right: 9px;
	margin-left:  9px;
	width: 90px; 
	height: 30px;

}
#signup{
	margin-top: 8px;
	border:2px solid white ;
	background-color:hsla(120, 0%, 15% , 1);
	border-radius: 4px; 
	color:white;
}
#signin{
	border:2px solid hsla(120, 0%, 15% , 1) ;
	background-color:hsla(120, 0%, 15% , 1);
	border-radius: 4px; 
	color:white;
}

.inputs{
	width: 380px;
	height: 40px;
	margin-top: 21px;
	border-radius: 7px;
}

#upgit{
	background-color: green;
	width: 380px;
	height: 54px;
	border-radius: 7px;
	margin-top: 33px;
	margin-bottom: 33px; 
}
#input{
	color: black;
	border: 1px solid white;
	border-radius: 3px;
}
#intro{
	font-size: 50px;
}

#intro1{
	font-size: 25px;
}
.black{
	color: black;
	font-size: 12px;
}
#right_footer{
	font-size: 12px;
}